* {
    box-sizing: border-box;
} 

body { 
    margin: 0; font-family: sans-serif
}

/* width */
::-webkit-scrollbar {
    width: 0;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 1.5rem;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */